/**
 * bwt板块-明星大使页面
 */
.bwt-rotation-container{background-color:#f6f8fb}
/*焦点图*/
.hotPic{height:auto}
.arrow-left{top:43%;left:25px}
.arrow-right{top:43%;right:25px}
.arrow-left i, .arrow-right i{font-size:65px;color:#fff}
.pagination{bottom:30px}
.swiper-container .swiper-slide{height:auto}
.swiper-pagination-switch, .swiper-pagination-bullet{display:inline-block;width:16px;height:16px;margin:0 18px;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;background-color:#6aace5}
.swiper-active-switch, .swiper-pagination-bullet-active{background-color:#fff}
