/**
 * 生活-棒冰
 */
/*棒冰简介*/
.popsicles-instro{padding:0 10%;background-color:#f1f1f1}
.popsicles-instro .text, .popsicles-instro .image{padding:0}
.popsicles-instro .text{padding:5%;box-shadow:0 0 10px #ccc;-webkit-box-shadow:0 0 10px #ccc;-moz-box-shadow:0 0 10px #ccc}
.popsicles-instro .text .box{padding:36% 10%;border:4px solid #f4f4f3}
.popsicles-instro .text h2, .popsicles-instro .text h3{color:#bf0e6d}
.popsicles-instro .text p{color:#7a716a}
.popsicles-instro .text-left{margin-top:-30px}
.popsicles-instro .text-right{bottom:-30px}
.popsicles-instro .text-right .author{bottom:5%;right:5%;color:#7a716a}
@media only screen and (max-width:1200px) {
    .popsicles-instro .text .box{padding:32% 10%}
}
@media only screen and (max-width:991px) {
    .popsicles-instro{padding-bottom:30px}
    .popsicles-instro .text-right{position:inherit;bottom:0}
    .popsicles-instro .text .box{padding:10%}
}
@media only screen and (max-width:768px) {
    .popsicles-instro .text .box{padding:15% 10%}
}

/*棒冰材料*/
.popsicles-material{background-color:#f4f4f4}
.popsicles-material .text, .popsicles-material .image{padding:0}
.popsicles-material .text{padding:18% 10%}
.popsicles-material .text h2, .popsicles-material .text p{color:#545353}
@media only screen and (max-width:768px) {
    .popsicles-material .text{padding:10%}
}
/*棒冰制作方法*/
.popsicles-making{padding:8% 10%;background-color:#f1f1f1}
.popsicles-making .text, .popsicles-material .image{padding:0}
.popsicles-making .image{margin:4% 0 0;padding:1% 0;left:-3%;background-color:#f1f1f1}
.popsicles-making .text .box{padding:52% 10%;border:4px solid #fff}
.popsicles-making .text h2, .popsicles-material .text p{color:#545353}
@media only screen and (max-width:991px) {
    .popsicles-making .image{position:inherit}
    .popsicles-making .text .box{padding:10%}
}
.popsicles-step{height:160px;overflow:hidden;margin-left:-17px;margin-right:-17px;margin-bottom:20px}
.popsicles-step .box{padding:0}
.popsicles-step .sapcing2{padding:4px 2px 0}
@media only screen and (max-width:991px) {
    .popsicles-step{height:auto}
    .popsicles-step .box{height:248px;overflow:hidden}
}
@media only screen and (max-width:767px) {
    .popsicles-step .box{height:auto}
}
.popsicles-tooltip .btn-tip{background-color:#bf0e6d}
.popsicles-tooltip .btn-tip .caret{width: 0;height: 0;border: 6px solid transparent;border-left-color: #bf0e6d;position: absolute;right:-12px;top: 36%}

/**
 * 生活-滤芯
 */
.filter-banner02{padding-top:145px}
.filter-instro{top:-170px;width:40%;padding:4%;background-color:#f6f5f5;opacity:0.8;filter:alpha(opacity=80)}
.filter-instro .box{padding:20% 10%;border:4px solid #cac7c8}
.filter-instro h2{color:#bf0e6d}
.filter-instro p{color:#7a716a}
.filter-sample{padding-bottom:130px}
.filter-sample .text{padding:50px 8% 15px;color:#757172}
.filter-sample .image{padding-left:0;padding-right:0}
@media only screen and (max-width:767px) {
    .filter-banner02{padding-top:50px}
    .filter-instro{position:inherit;top:0;width:100%}
    .filter-instro .box{padding:10%}
    .filter-sample{padding-bottom:50px}
}
/*轮播*/
.hotPic{border:3px solid #e4e3e3}
.pagination{ position: absolute;width:10px;height:10px;text-align: center;-webkit-transition: .3s;-moz-transition: .3s;-o-transition: .3s;transition: .3s;right: 15px;top: 30%;-webkit-transform: translate3d(0,-50%,0);-moz-transform: translate3d(0,-50%,0);-o-transform: translate(0,-50%);-ms-transform: translate3d(0,-50%,0);transform: translate3d(0,-50%,0);z-index: 10;}
.swiper-container .swiper-slide{height:auto}
.swiper-pagination-switch, .swiper-pagination-bullet{width: 10px;height: 10px;border-radius: 100%;background: #cac7c8;margin: 12px 0;display: block;cursor:pointer}
.swiper-active-switch, .swiper-pagination-bullet-active{background-color:#d15d8d}

.filter-principle{margin-top:130px;margin-bottom:110px}
.filter-principle .figure{background-color:#e4e3e3}
.filter-principle .figure .text{padding-top:80px}
.filter-principle .figure .text h2{color:#cf025d;font-size:24px}
.filter-principle .figure .text h3{color:#f4b5c8}
.filter-principle .figure .text h3.focus{color:#cf025d}
.filter-principle .figure .text p{padding-left:45px;color:#908e8e}
.filter-principle .image{padding-right:0}
@media only screen and (max-width:1200px) {
    .filter-principle .figure .text h3{margin-top:15px}
}
@media only screen and (max-width:767px) {
    .filter-principle{margin-top:50px;margin-bottom:40px}
    .filter-principle .figure .text{padding-top:0}
}

/**
 * 生活-生活
 */
/*生活简介*/
.life-index-instro{margin-top:120px;margin-bottom:120px;padding:0 10%;background-color:#f1f1f1}
.life-index-instro .text, .popsicles-instro .image{padding:0}
.life-index-instro .text{box-shadow: 0 0 10px #ccc}
.life-index-instro .text h2{color:#bf0e6d}
.life-index-instro .text p{color:#7a716a}
.life-index-instro .text-right{padding:16% 5% 13%;top:-30px;z-index:98}
.life-index-instro .text-left{padding:13% 5% 16%;bottom:-30px;z-index:99}
.life-index-instro .image{padding:0}
@media only screen and (max-width:1200px) {
    .life-index-instro .text-right{padding:14% 5% 11%}
    .life-index-instro .text-left{padding:11% 5% 14%}
}
@media only screen and (max-width:991px) {
    .life-index-instro .image{margin-left:0}
}
@media only screen and (max-width:768px) {
    .life-index-instro{padding:0}
    .life-index-instro .text{box-shadow:none;position:inherit;top:0;bottom:0;padding:5%}
}
.life-index-sample .image, .life-index-sample .text{padding-left:0;padding-right:0}
.life-index-sample .text .box{background-color:#f6f6f6;padding:15% 24%;box-shadow:0 0 10px #ccc;-webkit-box-shadow:0 0 10px #ccc;-moz-box-shadow:0 0 10px #ccc}
.life-index-sample .text .box01{margin-left:-10%}
.life-index-sample .text .box02{margin-right:-10%}
@media only screen and (max-width:991px) {
    .life-index-sample .text .box{padding:10%}
    .life-index-sample .text .box01{margin-left:0}
    .life-index-sample .text .box02{margin-right:0}
}
/*运动饮料*/
.life-index-sports .box{padding:40px 10% 30px}
.life-index-sports .image, .life-index-sports .text{padding-left:0;padding-right:0}
