/**
 * 产品-列表页
 */
/*胶囊式导航*/
.product-nav li a{padding:5px 20px;border-right:1px solid #9b9b9b;border-radius:0;-webkit-border-radius:0;-moz-border-radius:0}
.product-nav li:last-child a{border-right:none}
.product-nav li.active a, .product-nav li.active a:hover, .product-nav li.active a:focus {background-color: #ce025d;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px}
/*产品列表*/
.product-menu .image{border:1px solid #ededed}
.product-menu figure:hover{box-shadow:0 0 10px #f5b7c8;-webkit-box-shadow:0 0 10px #f5b7c8;-moz-box-shadow:0 0 10px #f5b7c8}
.product-menu figure figcaption{padding:20px 8px}
.product-menu figure:hover figcaption{background-color:#f5b7c8}
.product-menu figure:hover figcaption p{color:#fff}
@media only screen and (max-width:413px) {
    .product-menu .item{width:100%}
}
/*分页组件*/
.holder a{display:inline-block;width:40px;line-height:1;font-size: 14px;cursor: pointer;padding-top:13px;padding-bottom:13px;margin:0 3px;color: #4a4a4a;background-color:#efefef;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px}
.holder a.jp-current, .holder a.jp-current:hover{color: #fff}
.holder a.jp-disabled, a.jp-disabled:hover{color: #666;background:none}
.holder a.jp-current, a.jp-current:hover{cursor: default;background-color: #f5b7c8}
.holder span{display:none}

/**
 * 产品-详情页
 */
.filter-banner02{padding-top:145px}
.filter-instro{top:-170px;width:40%;padding:4%;background-color:#f6f5f5;opacity:0.8;filter:alpha(opacity=80)}
.filter-instro .box{padding:20% 10%;border:4px solid #cac7c8}
.filter-instro h2{color:#bf0e6d}
.filter-instro p{color:#7a716a}
.filter-sample{padding-bottom:130px}
.filter-sample .text{padding:50px 8% 15px;color:#757172}
.filter-sample .image{padding-left:0;padding-right:0}
@media only screen and (max-width:767px) {
    .filter-banner02{padding-top:50px}
    .filter-instro{position:inherit;top:0;width:100%}
    .filter-instro .box{padding:10%}
    .filter-sample{padding-bottom:50px}
}
/*轮播*/
.hotPic{border:3px solid #e4e3e3}
.pagination{ position: absolute;width:10px;height:10px;text-align: center;-webkit-transition: .3s;-moz-transition: .3s;-o-transition: .3s;transition: .3s;right: 15px;top: 30%;-webkit-transform: translate3d(0,-50%,0);-moz-transform: translate3d(0,-50%,0);-o-transform: translate(0,-50%);-ms-transform: translate3d(0,-50%,0);transform: translate3d(0,-50%,0);z-index: 10;}
.swiper-container .swiper-slide{height:auto}
.swiper-pagination-switch, .swiper-pagination-bullet{width: 10px;height: 10px;border-radius: 100%;background: #cac7c8;margin: 12px 0;display: block;cursor:pointer}
.swiper-active-switch, .swiper-pagination-bullet-active{background-color:#d15d8d}

.filter-principle{margin-top:130px;margin-bottom:110px}
.filter-principle .figure{background-color:#e4e3e3}
.filter-principle .figure .text{padding-top:80px}
.filter-principle .figure .text h2{color:#cf025d;font-size:24px}
.filter-principle .figure .text h3{color:#f4b5c8}
.filter-principle .figure .text h3.focus{color:#cf025d}
.filter-principle .figure .text p{padding-left:45px;color:#908e8e}
.filter-principle .image{padding-right:0}
@media only screen and (max-width:1200px) {
    .filter-principle .figure .text h3{margin-top:15px}
}
@media only screen and (max-width:767px) {
    .filter-principle{margin-top:50px;margin-bottom:40px}
    .filter-principle .figure .text{padding-top:0}
}

/**
 * 产品-运动页
 */
.product-sports .row{margin-left:0;margin-right:0}
.product-sports .image{padding-left:0;padding-right:0}
.product-sports .text .box{padding:35% 10% 10%}
@media only screen and (min-width:768px) and (max-width:991px) {
    .product-sports .image{width:50%}
    .product-sports .text{width:50%}
}
@media only screen and (max-width:767px) {
    .product-sports .text .box{padding-top:10%}
}